body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
/* Contact downlaod pricing */
#ch1{
    margin-right: 600px;
    margin-left: 10px;

}

h1{
    font-family:" Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;
}
#about-change{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/* navigation bar */

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}
.nav-item{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* download button */
.download-btn{
    margin: 5% 3% 5% 0%;
}

.dog-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right:25%;

}


/* features box */
.features-box{
    text-align: center;
    padding: 4.5%;

}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;


}
.icon:hover{
    color:#ff4c68;
}

/* testimonials section */
#testimonials{
  
    text-align: center;
    background-color: #ef8172;
    color:#fff
}
.img-testimonials{
    width: 10%;
    border-radius: 100%;
     margin:20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}
.carousel-item{
    padding: 7% 15%;
}


/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 3%;
    text-align: center;
}

/* view port */
@media (max-width:1080px) {
    #title{
        text-align: center;
    }
    .dog-img{
        width: 60%;
        position: static;
        transform: rotate(0);
    }
    
}

/* call action */
#cta{
    background-color: #ff4c68;
    color:#fff;
    padding: 7% 15%;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}
#cta-heading{
    font-family:'Montserrat-Black', sans-serif ;
    font-size: 3.5rem;
    line-height: 1.5;
    width: 80%;
}


/* footer section */
#footer{
    text-align: center;
    padding-top: 100px;

}
.social-icon{
    margin: 10px;
}




hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none ;
    width:4%;
    margin:100px auto;
}

.contact-message{
    font-family: 'Satisfy', cursive;
    width:30%;
    margin: 40px auto 60px;
}
.btn-new {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999d);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999d);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999d);
    background-image: -o-linear-gradient(top, #11cdd4, #11999d);
    background-image: linear-gradient(to bottom, #11cdd4, #11999d);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family:'Montserrat', sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn-new:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  a{
    color: #11999E;
    font:'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
  }
  a:hover{
    color:#EAF6F6
  }

#project{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 10px;
}
.about{
    padding-bottom: 20px;
}